@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

 :root{ 
    --bg-btn-add:#2563eb;
    --btn-add-hover:#1e3a8a;
   --bg-btn-remove:#f87171;
   --btn-remove-hover:#7f1d1d;

   --bg-active-link:#fecaca;
    --text-stone-800: #292524;
}

body{
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-stone-800);
}

p{
    padding: 10px;
}

a{
    color: var(--text-stone-800);
    text-decoration: none;
}

a:active{
    color: inherit;
}

button{
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    height: 50px;
}